.card {
  &__basic {
    display: grid;
    grid-template-rows: 2;

    &__text-over-media {
      & .card {
        &__content-box {
          display: grid;
          grid-template-rows: 1fr auto auto;

          &--image {
            grid-column: 1 / -1;
            grid-row: 1 / 3;
          }
          &--heading {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            margin-bottom: 0;
            color: white;
            margin-bottom: 0;

            &--main {
              color: white;
            }
            &--sub {
              color: white;
            }
          }

          &--paragraph {
            margin-top: 2rem;
          }
        }
      }
    }

    &__header {
      & .card {
        &__content-box {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 1fr auto auto;

          &--image {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
          }
          &--heading {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            margin-bottom: 0;
            margin-bottom: 0;
          }

          &--paragraph {
            grid-column: 1 / -1;
            grid-row: 3 / -1;
            margin-top: 2rem;
          }
        }
      }
    }

    &__only-buttons {
      & .card {
        &__content-box {
          display: grid;
          grid-template-rows: 1fr auto auto;
        }

        &__option {
          justify-content: start;
          & .card__icons {
            display: none;
          }
        }
      }
    }

    &__only-icons {
      & .card {
        &__content-box {
          display: grid;
          grid-template-rows: 1fr auto auto;
        }

        &__option {
          justify-content: flex-end;
          & .card__buttons {
            display: none;
          }
        }
      }
    }
  }

  &__horizontal-image-and-text {
    display: grid;
    grid-template-rows: 12rem auto;
    grid-template-columns: auto;

    & .card__content-box {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 2fr;

      &--image {
        height: 100%;
        border-start-end-radius: 0.4rem;
      }

      &--paragraph {
        display: none;
      }
    }
  }
}
